
<div class="container pad20">


  <h1 class="text-underline"> <%= @cocktail.name %> </h1>

  <%= cl_image_tag @cocktail.photo, height: 300, width: 400, crop: :fill %>





  <div class="pad10">
    <% if @cocktail.doses.empty? %>
    <p class="text-gray">
      No ingredients yet. Add yours!
    </p>
    <% else %>
    <h3> Ingredients </h2>
      <% end %>
  </div>


  <ul class="list-unstyled pad20">
    <% @cocktail.doses.each do |d| %>
    <li>
      <i class="fa fa-glass"></i> <strong> <%= d.ingredient.name %> </strong>
      <%= link_to "Delete", dose_path(d), class: "btn btn-danger btn-xs", method: :delete  %>
    </li>
    <p class="pad10"><%= d.description %></p>
    <% end %>
  </ul>
  <div class="pad20">

    <%= link_to "Go back", root_path, class: "btn btn-warning" %>
  </div>



    <div class="pad20" id="ingredient-form">
      <div class="row">
        <div class="col-xs-12 col-md-4">
          <%= simple_form_for [@cocktail, @dose] do |f| %>
            <%= f.input :ingredient, collection: Ingredient.order(:name),  prompt: "Pick one from list" %>
            <%= f.input :description %>
            <%= f.submit "Submit", class: "btn btn-primary" %>
          <% end %>
        </div>
      </div>
    </div>

</div>
